    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Poppins', sans-serif;
      background: linear-gradient(to right, #fea44f, #be711f);
      color: #fff;
    }

    header {
      background-color: rgba(255, 102, 0, 0.9);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 30px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }

    .logo {
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 1px;
    }

    .voltar {
      background-color: #fff;
      color: #ff6600;
      border: none;
      border-radius: 25px;
      padding: 10px 18px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .voltar:hover {
      background-color: #ff8533;
      color: #fff;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
      text-align: center;
    }

    .produto {
      background-color: rgba(255, 255, 255, 0.15);
      border-radius: 20px;
      padding: 30px;
      height: 800px;
      max-height: 800px;
      width:1100px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    }

    .produto img {
      width: 100%;
      border-radius: 15px;
      margin-bottom: 20px;
    }

    .produto h2 {
      margin-bottom: 10px;
      font-size: 22px;
    }

    .produto p {
      margin-bottom: 15px;
      font-size: 16px;
    }

    .preco {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 25px;
      color: #fff7e6;
    }

    .comprar {
      background-color: #ff6600;
      border: none;
      color: white;
      padding: 22px 25px;
      border-radius: 25px;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s;
    }

    .comprar:hover {
      background-color: #ff8533;
    }

    footer {
      text-align: center;
      padding: 20px;
      margin-top: 50px;
      font-size: 14px;
      opacity: 0.8;
    }

    .oproduto{
      background-color: whitesmoke;
      width: 350px;
      height: 300px;
      border-radius: 30px;
      margin: auto;
      margin-bottom:20px; 
      
    }